.header {
  background-color: #1f2937;
  color: white;
  padding: 1rem 0;
   
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navList li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navList li a:hover {
  color: #9ca3af;
}

li::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #3b82f6;
  transition: width .8s;
}
li:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1f2937;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  nav.open {
    max-height: 200px;
    /* Adjust based on menu items */
  }

  .navList {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}