.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(to right, #1f2937, #374151);
  color: white;
  text-align: center;
  padding: 0 1rem;

  height: 100vh;
}

.content {
  max-width: 700px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #d1d5db;
  /* light gray */
}

.description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #e5e7eb;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  /* blue */
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

.button:hover {
  background-color: #2563eb;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.25rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1rem;
  }
}